@model CourseWorkPOVTandAS.Models.FixedTheme

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FixedTheme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme.TopicTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme.TopicTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FixedThemeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
