@model CourseWorkPOVTandAS.Models.AcademicPlan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AcademicPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Speciality.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeOfDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeOfDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfSet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfSet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatementForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatementForm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AcademicPlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
