@model IEnumerable<CourseWorkPOVTandAS.Models.AcademicPlan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Speciality.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeOfDepartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearOfSet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatementForm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Speciality.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeOfDepartment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearOfSet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatementForm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AcademicPlanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AcademicPlanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AcademicPlanId })
        </td>
    </tr>
}

</table>
