@model CourseWorkPOVTandAS.Models.GradualProgress

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GradualProgress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FixedTheme.FixedThemeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FixedTheme.FixedThemeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleOfWork.StageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleOfWork.StageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GradualProgressId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
