@model IEnumerable<CourseWorkPOVTandAS.Models.GradualProgress>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FixedTheme.FixedThemeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleOfWork.StageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FixedTheme.FixedThemeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleOfWork.StageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualPercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GradualProgressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GradualProgressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GradualProgressId })
        </td>
    </tr>
}

</table>
