@model IEnumerable<CourseWorkPOVTandAS.Models.Theme>

@{
    ViewBag.Title = "ThemeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ThemeList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcademicPlan.CodeOfDepartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TopicTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AcademicPlan.CodeOfDepartment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TopicTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
